.profile__card{
  margin-top: 5vh;
  width:60vw;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow:  -12px -12px 24px #fcfcfc,
  12px 12px 24px #ffffff;
  border: 1px solid #eed7f8;
  color:#2e2c2c;
  border-radius: 5px;
}

.profile__image{
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #9062b1;
}